<%- include("partial/header") -%>

<h1>We</h1> <img id="bell" src="bell.svg" style="text-align:center;display:inline-flex;"alt="">
<p><%= p1 %></p>


<% posts.forEach(function(element){ %>
  <h2><%= element.title%></h2>
  <p><%= element.body%></p>
  <a href="/posts/<%= element.title %>"  >Read More</a>
<%})%>
<br>
<button type="button" class="btn btn-primary add" onclick="window.location='/addmore'" >Add More</button>


<%- include("partial/footer") -%>
